
.header {
    grid-area: hea;
    background-color: #2c2c2d;
    border-radius: 10px;
}

.header img {
    width: 50px;
    padding: 10px;
    border-radius: 20px;
}

.loginBlock {
    float: right;
    margin-top: 20px;
    margin-right: 10px;

}

.loginBlock a {
    color: greenyellow;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}