
.headImg {
    width: 1000px;
    border-radius: 10px;
    height: 200px;
}

.item {
    color: greenyellow;
}

.item.active {
    color: darkviolet;
}

.descriptionBlock {
    padding: 10px;
}

.mainPhoto {
    max-width: 200px;
}