.app-wrapper {
    margin: auto;

    display: grid;
    width: 1300px;
    grid-template-areas:
    "hea hea"
    "nav con";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;

}

