.app-wrapper {
    margin: auto;

    display: grid;
    width: 1200px;
    grid-template-areas:
    "hea hea"
    "nav con";
    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/

}


.app-wrapper-content {
    grid-area: con;
    background-color: darkgrey;
    border-radius: 10px;
}

